
form#excel-import {
    display:flex;
    flex-direction:column;
    width:400px;
    background: #d8d8d8;
    padding:40px;
    border-radius:4px;

}
form#excel-import label {
    font-weight:600;
    color:#222;
    margin-bottom:20px;
}
form#excel-import label:nth-of-type(2) {
    display:flex;
    padding:10px;
    line-height:20px;
    background:#ffffff8a;
    justify-content:flex-start;
}
form#excel-import label:nth-of-type(2) input {
    margin-top:5px;
    margin-right:10px;
    color:gray;
}
form#excel-import button[type="submit"] {
    background:#222;
    color:white;
    width:150px;
    height:40px;
    border-radius:3px;
    cursor:pointer;
}